{% extends "base.html" %}
{% load formatos %}
{% block content %}

<div class="container">

    

    <a href="{% url 'index' %}" class="btn btn-primary mb-4 mt-4">
        <i class="bi bi-arrow-left"></i>
    </a>

    <h2 class="text-center mb-3">Historial de Compras</h2>
    

    <!-- Lista de compras -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for item in compras %}
                <tr>
                    <td>{{ item.producto_name }}</td>
                    <td>{{ item.compra.cantidad }}</td>
                    <td>{{ item.compra.precio_compra|clp_format }}</td>
                    <td>{{ item.compra.fecha|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Navegación de páginas -->
<nav class="mt-4">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">
                    &laquo; Primera
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Anterior
                </a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    Siguiente
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    Última &raquo;
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

</div>


</div>

{% endblock %}